# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Metro
.cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Build outputs
web-build/
dist/
android/
ios/

# Env
.env
.env.*
